:root{
    --lbgc: #fcfbfb;
    --dbgc: #232323;
    --col-a: #2af7f4;
}

body{
    color: var(--dbgc);
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: var(--lbgc);
}

*{
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
}

