@keyframes slideInFromTop {
    0% {
      transform: translateY(-500%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
      transform: translateY(100%);
    }
    100% {
      transform: translateY(0);
    }
}

@keyframes tudududududu {
    0% {
      width: 0;
      height: 0px;
      margin-bottom: 64px;
    }
    100% {
      width: 64px;
      height: 64px;
      margin-bottom: 0;
    }
}

@keyframes fadein {
    0% { opacity: 0; }
    100%  { opacity: 1; }
}

@keyframes slidetopfadein{
    0% {
        transform: translateY(-100%);
        opacity: 0;
      }
      100% {
        transform: translateY(0);
        opacity: 1;
      }
}
@keyframes glitchy{
    0%{
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
     -0.05em -0.03em 0 rgba(0, 255, 0, .75),
     -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    14%{
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
     -0.05em -0.03em 0 rgba(0, 255, 0, .75),
     -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    15%{
        text-shadow: -0.05em -0.03em 0 rgba(255, 0, 0, .75),
     0.03em 0.03em 0 rgba(0, 255, 0, .75),
     -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    49%{
        text-shadow: -0.05em -0.03em 0 rgba(255, 0, 0, .75),
     0.03em 0.03em 0 rgba(0, 255, 0, .75),
     -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    50%{
        text-shadow: 0.03em 0.05em 0 rgba(255, 0, 0, .75),
     0.05em 0 0 rgba(0, 255, 0, .75),
     0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    99%{
        text-shadow: 0.03em 0.05em 0 rgba(255, 0, 0, .75),
     0.05em 0 0 rgba(0, 255, 0, .75),
     0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    100%{
        text-shadow: -0.03em 0 0 rgba(255, 0, 0, .75),
     -0.03em -0.03em 0 rgba(0, 255, 0, .75),
     -0.03em -0.05em 0 rgba(0, 0, 255, .75);
    }
}



body{
    transition: 0.5s;
    margin: 0;
    font-family: 'Orbitron', Arial;
    color: white;
    box-sizing: border-box;
    background-color: rgb(73, 73, 73);
}
html{
    height: 100%;
}
html:hover{
    cursor: unset;
}


header{
    transition: 0.7s;
    height: 100%;
    background: #191c1d;
    position: fixed;
    padding:  0 0 20px 0;
    width: 100%;
    top: 0;
    margin-bottom: 20px;
    text-align: center;
    z-index: 20;
}
header h1{
    position: relative;
    font-size: 2.5rem;
    color: white;
    text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
     -0.03em -0.05em 0 rgba(0, 255, 0, .75),
     0.03em 0.05em 0 rgba(0, 0, 255, .75);

     animation: glitchy 750ms infinite;
}

header h1 span{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 20;
}

header h1 span:first-child{
    animation: glitchy 550ms infinite;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 40%, 0 40%);
    transform: translate(-0.025em, 0.03em);
    opacity: .8;
}
header h1 span:last-child{
    z-index: 1;
    animation: glitchy 850ms infinite;
    clip-path: polygon(0 60%, 100% 60%, 100% 100%, 0 100%);
    transform: translate(0.025em, 0.03em);
    opacity: .8;
}
h1{
    color: #22ff3f;
    font-family: 'Righteous', cursive;
    text-transform: uppercase;
}
h2,h3{
    color: #2ae743;
}

main{
    margin-top: 128px;
    display: grid;
    justify-content: center;
}


.group-h1{
    position: relative;
    text-align: center;
}

.group-h1::before{
    content: "";
    position: absolute;
    height: 2px;
    width: 200%;
    left: -50%;
    bottom: -10px;
    background-color: black;
    
}

.cont{
    display: flex;
    justify-content: center;
}

#b{
    justify-content: space-around;
    display: flex;
}

h4{
    margin: 0;
}







/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #555;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background-image: linear-gradient(to bottom, rgb(205, 205, 0) , rgb(0, 100, 0));
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(to bottom, yellow , green);
  }
  ::-webkit-scrollbar-corner{
      opacity: 0;
  }








.side{
    transition: 1s;
    box-sizing: border-box;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: center;
    position: relative;
    background-color: rgb(66, 61, 61);
    width: 40%;
    border-bottom: 1px solid black;
    border-top: 2px solid black;
    animation: 1s fadein;
    min-height: 400px;
    z-index: 1;
}
.side:hover{
    transition: 0.3s;
    border-bottom: yellow 1px solid;
}

.side h3{
    margin-top: 0;
}
.side h1{
    margin-bottom: 0;
}

.pwinput{
    font-family: 'Righteous', cursive;
    margin-top: 5px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    background-color: green;
    width: 100px;
    border-radius: 5px;
}

.pwinput::placeholder{
    color: black;
    font-weight: normal;
}

.pwinput:hover{
    border: 1px solid yellow;
}

.pwinput:focus{
    background-color: rgb(30, 211, 30);
    outline: none;
}

.devt{
    position: fixed;
    z-index: 69;
    top: 0;
    left: 0;
    background-color: black;
    color: white;
    font-size: 10px;
    border: none;
    border-right: 1px solid green;
    border-bottom: 1px solid green;
    border-radius: 4px;
}
.devt:hover{
    color: yellow;
}

.devt:active{
    color: rgb(153, 147, 147);
}



.iconbg{
    margin: 5px;
    border: 1px solid black;
    border-radius: 50%;
    transition: 1s;
}

.iconbg:hover{
    transition: 1s;
    border-radius: 0;
    border: 1px solid yellow;
}

#devonly{
    display: none;
}

.enter{
    font-family: 'Orbitron', Arial;
    margin-top: 5px;
    border: 1px solid black;
    text-align: center;
    font-weight: bold;
    background-color: rgb(22, 179, 22);
    width: 110px;
}


#leftc{
    position: absolute;
    width: 100px;
    clip: rect(0, 50px, 120px, 0);
    height: 100px;
    left: 15px;
    top: 30px;
    z-index: 1;
}

#rightc{
    position: absolute;
    width: 100px;
    right: 15px;
    height: 100px;
    top: 30px;
}

.enter:hover{
    background-color: rgb(155, 155, 28);
}
.enter:active{
    background-color: yellow;
    border: 1px dotted black;
}
footer{
    background: #191c1d;
    padding: 10px;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;
}

.app{
    animation: 1s fadein;
    position: relative;
    margin: 20px;
    padding: 10px;
    width: 102px;
    height: 142px;
    background-color:rgb(53, 54, 58);
    border-bottom: 2px solid black;
    border-radius: 10px;
    text-align: center;
    min-width: 100px;
    min-height: 80px;
}


#devmode{
    border-radius: 0;
    border-bottom-right-radius: 15px;
    transition: 1s;
    height: 80px;
    width: 110px;
    margin: 0;
    position: fixed;
    z-index: 30;
    left: 0;
    top: -120px;
}

.app img{
    max-height: 200px;
}
#megabruh{
    width: 125px;
    font-size: 13px;
}
.i .app{
    height: auto;
    width: auto;
}
.imglink{
    animation: 1s tudududududu;
    border: 1px solid green;
}

.imglink:hover{
    border: 1px solid yellow;
}



.link{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
    padding: 0;
}

.link:hover{
    color: yellow;
    transition: 0.6s;
}
.link:hover::after{
    content: "]";
}
.link:hover::before{
    content: "[";
}

.app a{
font-weight: bold;
}

.break{
    flex-basis: 100%;
}
.app img{
    margin: 10px auto 0;
    border: 1px solid yellow;
    border-radius: 5px;
    display: block;
}

.btn{
    font-family: 'Righteous', cursive;
    margin-top: 5px;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(22, 179, 22);
    display: inline-block;
}


.megabutton:hover,
.btn:hover{
    transition: background-color 0.6s;
    border-color: gray;
    background-color: rgb(196, 196, 196);
}

.megabutton:active,
.btn:active{
    border-color: yellow;
    transition: none;
    background-color: rgb(183, 194, 39);
    
}

.scrollbar{
    width: 100%;
    background-color: green;
}

#secret{
    width: 60px;
}

.ttl{
    font-size: 20px;
    padding: 5px;
    color: white;
}

.info{
    opacity: 0.5;
    
}

.copybtn:hover{
    transition: opacity 0.4s;
    opacity: 0.8;
}
.copybtn:active{
    background-color: yellow;
}
#torf{
    width: 60px;
}

.megabutton{
    font-family: 'Orbitron', Arial;
    font-size: 20px;
    font-weight: bold;
    margin-top: 5px;
    width: 180px;
    height: 50px;
    border: 1px solid black;
    background-color: rgb(22, 179, 22);
    display: inline-block;
}

#ghub{
    font-size: 12px;
}

.imgbtn{
    background: rgba(0, 0, 0, 0);
    border: 0px;
    width: 88px;
    height: 88px;
    position: relative;
    margin: 10px 0 auto;
    padding: 0;
}

.imgbtn img:hover{
    border: 1px solid green;
}

.imgbtn:active img{
    border: 1px solid rgb(0, 255, 0);
}

.imgbtn img{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}


.imgbtn::before{
    z-index: 2;
    top: -68px;
    font-size: 17px;
    position: absolute;
    content: 'copy';
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(255, 255, 255, 0);
    left: 0;
    transition: 1s;
    right: 0;
}

.addbot{
    animation: 1s slidetopfadein;
    background-color: rgba(0, 0, 0, 0);
    color: rgb(15, 128, 221);
    font-size: 20px;
    padding: 5px;
    border: 1px solid rgb(15, 128, 221);
    transition: 0.7s;
    margin: 10px;
}
.addbot:hover{
    transition: 0.7s;
    background-color: rgb(15, 128, 221);
    color: black;
    border-color: black;
}

.addbot:active{
    border-color: yellow;
}
.discord::before{
    z-index: 2;
    top: -68px;
    left: 0;
    right: 0;
    font-size: 17px;
    position: absolute;
    content: 'copied';
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(69, 69, 69, 0);
}

.imgbtn:hover::before{
    transition: 1s;
    background-color: rgba(0, 0, 0, 255);
    color: rgba(255, 255, 255, 255);
}