@keyframes fadein {
    0% { opacity: 0; }
    100%  { opacity: 1; }
}

@keyframes glitchy{
    0%{
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
     -0.05em -0.03em 0 rgba(0, 255, 0, .75),
     -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    14%{
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
     -0.05em -0.03em 0 rgba(0, 255, 0, .75),
     -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    15%{
        text-shadow: -0.05em -0.03em 0 rgba(255, 0, 0, .75),
     0.03em 0.03em 0 rgba(0, 255, 0, .75),
     -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    49%{
        text-shadow: -0.05em -0.03em 0 rgba(255, 0, 0, .75),
     0.03em 0.03em 0 rgba(0, 255, 0, .75),
     -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    50%{
        text-shadow: 0.03em 0.05em 0 rgba(255, 0, 0, .75),
     0.05em 0 0 rgba(0, 255, 0, .75),
     0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    99%{
        text-shadow: 0.03em 0.05em 0 rgba(255, 0, 0, .75),
     0.05em 0 0 rgba(0, 255, 0, .75),
     0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    100%{
        text-shadow: -0.03em 0 0 rgba(255, 0, 0, .75),
     -0.03em -0.03em 0 rgba(0, 255, 0, .75),
     -0.03em -0.05em 0 rgba(0, 0, 255, .75);
    }
}


body{
    margin: 0;
    color: white;
    font-family: system-ui;
    display: flex;
    background-color: rgb(30, 30, 30);
}

header{
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    position: fixed;
}

p{
    margin: 0;
}

header h1{
    animation: glitchy 1s infinite;
    margin: 0;
}
.links ol li{
    margin-top: 0.2rem;
}
.links ol li a{
    font-weight: normal;
    font-size: 1.5rem;
}

.links ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.links{
    animation: 1s fadein;
    padding: 1rem 1rem 0 1rem;
    max-width: 50%;
    background-color: rgb(50,50,50);
}

.repos{
    display: grid;
    width: fit-content;
    padding: 1rem 2rem 0 3rem;
    overflow: hidden;
}

a{
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

a[href]:hover{
    text-decoration: underline;
}

.repo{
    max-width: 60%;
    overflow-wrap: break-word;
    padding: 1rem;
    margin: 2rem 0 0 0;
    width: fit-content;
    height: fit-content;
    animation: 1s fadein; 
    background-color:rgb(53, 54, 58);
    border-bottom: 0.2rem solid aqua;
    border-radius: .6rem .6rem 0 0;
}


footer{
    position: fixed;
}

#end{
    display: none;
}