@keyframes fadein {
    0% { opacity: 0; }
    100%  { opacity: 1; }
}

@keyframes glitchy{
    0%{
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
     -0.05em -0.03em 0 rgba(0, 255, 0, .75),
     -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    14%{
        text-shadow: 0.05em 0 0 rgba(255, 0, 0, .75),
     -0.05em -0.03em 0 rgba(0, 255, 0, .75),
     -0.025em 0.05em 0 rgba(0, 0, 255, .75);
    }
    15%{
        text-shadow: -0.05em -0.03em 0 rgba(255, 0, 0, .75),
     0.03em 0.03em 0 rgba(0, 255, 0, .75),
     -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    49%{
        text-shadow: -0.05em -0.03em 0 rgba(255, 0, 0, .75),
     0.03em 0.03em 0 rgba(0, 255, 0, .75),
     -0.05em -0.05em 0 rgba(0, 0, 255, .75);
    }
    50%{
        text-shadow: 0.03em 0.05em 0 rgba(255, 0, 0, .75),
     0.05em 0 0 rgba(0, 255, 0, .75),
     0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    99%{
        text-shadow: 0.03em 0.05em 0 rgba(255, 0, 0, .75),
     0.05em 0 0 rgba(0, 255, 0, .75),
     0 -0.05em 0 rgba(0, 0, 255, .75);
    }
    100%{
        text-shadow: -0.03em 0 0 rgba(255, 0, 0, .75),
     -0.03em -0.03em 0 rgba(0, 255, 0, .75),
     -0.03em -0.05em 0 rgba(0, 0, 255, .75);
    }
}


body{
    margin: 0;
    color: white;
    font-family: system-ui;
    display: flex;
    background-color: rgb(30, 30, 30);
    overflow-x: hidden;
}

#pixels{
    position: fixed;
    z-index: -100;
    width: 100%;
    height: 100%;
}

.pixel{
    width: 10px;
    height: 10px;
    opacity: 0;
    position: absolute;
    transition: 300ms opacity;
    pointer-events: none;
}

header{
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    position: fixed;
}

p{
    margin: 0;
}

header h1{
    animation: glitchy 1s infinite;
    margin: 0;
}
.links ol li{
    margin-top: 0.2rem;
}
.links ol li a{
    font-weight: normal;
    font-size: 1.5rem;
}

.links ol{
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.soc{
    padding: 1rem;
    text-align: center;
    margin: 2rem;
    place-items: center;
    display: grid;
    animation: 1s fadein; 
    background-color:rgb(53, 54, 58);
    border-bottom: 0.2rem solid aqua;
    border-radius: .6rem .6rem 0 0;
}

#loading{
    margin-top: 1rem;
}

.soc:active svg{
    fill: aqua;
}

.soc a{
    margin-bottom: 1rem;
}

.soc svg{
    width: 5rem;
    fill: white;
}

.star{
    position: absolute;
    left: -0.5rem;
    top: -0.5rem;
    width: 1rem;
    height: 1rem;
    fill: white;
}

.amount{
    position: absolute;
    left: 1rem;
    top: 0rem;
}
.soc:hover{
    border-color: black;
}

.socs{
    padding-top: 2rem;
}

.socs-cont{
    display: flex;
    justify-content: center;
    width: 100%;
}

.links{
    animation: 1s fadein;
    padding: 1rem 1rem 0 1rem;
    max-width: 50%;
    background-color: rgb(50,50,50);
}

.repos{
    display: grid;
    width: fit-content;
    padding: 1rem 2rem 0 3rem;
    overflow: hidden;
}

a{
    margin: 0;
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: none;
    color: white;
}

a[href]:hover{
    text-decoration: underline;
    position: relative;
}
.back{
    position: fixed;
    bottom: 0.5rem;
    left: 1rem;
}
.repo{
    max-width: 100%;
    overflow-wrap: break-word;
    padding: 1rem;
    margin: 1rem 0 1rem 0;
    width: fit-content;
    height: fit-content;
    position: relative;
    background-color:rgb(53, 54, 58);
    border-bottom: 0.2rem solid aqua;
    border-radius: .6rem .6rem 0 0;
}


footer{
    position: fixed;
}

#end{
    display: none;
}

*[desc]::after{
    text-align: center;
    display: flex;
    border-radius: 2rem;
    padding: .5rem;
    width: 10rem;
    display: block;
    position: absolute;
    content: attr(desc);
    left: 120%;
    top: 0;
    z-index: 10;
    background-color: #202020;
    border: 1px solid white;
    opacity: 0;
}


*[desc]:hover::after{
    transition: .3s;
    opacity: 1;
}

