body{
    margin: 0;
    color: white;
    font-family: system-ui;
    display: flex;
    background-color: rgb(30, 30, 30);
}

header{
    display: flex;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: center;
    position: fixed;
}