body{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    padding-top: 30px;
    margin: 0 30px;
}

header{
    padding: 20px;
    text-align: center;
    background-color: lightgray;
}

.ptitle{
    margin-bottom: 0;
}
main{
    margin: 20px;
}

li{
    padding-bottom: 10px;
}
.konez{
    display: inline-block;
    margin: 0;
    color: brown;
    font-style: italic;
    font-size: 2em;
    border: 5px dotted black;
}
.linl,
.linl:visited{
    text-decoration: none;
    color: red;
}

.linl:hover{
    text-decoration: underline;
    color: blue;
    transition: color 0.4s;
}

.subttl{
    color: orange;
}

.smthn{
    position: relative;
}

h2{
    margin-top: 0;
}

.sideimg{
    position: absolute;
    top: 0;
    left: 420px;
}

.sidedd{
    position: absolute;
    top: 0;
    left: 660px;
}
footer{
    margin-top: 40px;
    padding: 10px;
    text-align: center;
    background-color: lightgray;
}

.link,
.link:visited{
    text-decoration: none;
    font-style: italic;
    color: red;
}

.link:hover{
    background-image: radial-gradient(rgb(192, 192, 192), lightgray);
}

