:root{
    --col-bg-d: rgb(30,30,30);
    --col-bg-ld: rgb(37, 37, 38);
    --col-bg-lld: rgb(55, 55, 58);
    --col-bg-l: rgb(255,255,255);
    --col-accent: rgb(0,225,225);
    --col-s-accent: rgb(204, 15, 211);
}

*{
    font-family: 'Readex Pro', monospace;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: var(--col-bg-l);
}

header{
    z-index: 3;
    position: fixed;
    background-color: var(--col-bg-d);
    width: auto;
    height: auto;
    padding: 0.1em 1em;
    display: block;
    margin: 0.5em;
    border-radius: 1em;
    transition: 0.5s;
    border: none;
}

header:hover{
    transition: 0.5s;
    box-shadow: -0.4em -0.4em var(--col-accent);
    transform: translate(0.4em, 0.4em);
}

h1{
    color: var(--col-accent);
    font-family: 'Montserrat Alternates', sans-serif;
    text-align: center;
}
header:hover h1{
    transition:0.5s;
}
.sidebar{
    z-index: 3;
    width: 5em;
    position: fixed;
    top: 6.2em;
    left: 0;
    display: table;
}

.sidebar button{
    padding: 1em;
    z-index: 1;
    transition: 0.5s;
    opacity: 1;
    background-color: var(--col-bg-d);
    border-radius: 1em;
    width: 4.5em;
    height: 4.5em;
    display: flex;
    margin: 0.5em;
    border: none;
}

.sidebar button:hover{
    transition: 0.5s;
    box-shadow: -0.4em -0.4em var(--col-accent);
    transform: translate(0.4em, 0.4em);
}

header:active,
.sidebar button:active{
    transition: none;
    box-shadow: -0.4em -0.4em var(--col-s-accent);
    color: var(--col-s-accent);
    transform: translate(0.4em, 0.4em);
}

.sidebar button:active .svg-icon path{
    transition: none;
    fill: var(--col-s-accent);
}

header:active h1{
    transition: none;
    color: var(--col-s-accent);
}



button{
    color: var(--col-accent);
}

.svg-icon path{
    transition: 0.5s;
    fill: var(--col-accent);
}


.noselect {
    -webkit-touch-callout: none; 
      -webkit-user-select: none; 
       -khtml-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none; 
              user-select: none;
}

footer{
    background-color: var(--col-bg-d);
    width: 100%;
    position: fixed;
    bottom: 0;
}


.slice{
    display: flex;
    width: 100%;
}

.side{
    background-color: var(--col-bg-d);
    width: 50%;
    margin: 1em;
    border-radius: 1em;
}


.downloadbtn{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--col-bg-ld);
    padding: 0.7em;
    color: var(--col-bg-l);
    border:none;
    margin: 1em auto;
    border-radius: 1em;
    transition: 0.5s;
}

.downloadbtn:hover{
    transition: 0.5s;
    color: var(--col-accent);
    box-shadow: -0.4em -0.4em var(--col-accent);
    transform: translate(0.4em, 0.4em);
}

.downloadbtn:hover .dwnsvg{
    fill: var(--col-accent);
}

a[href]{
    cursor: default;
    text-decoration: none;
}
.downloadbtn:active{
    transition: none;
    color: var(--col-s-accent);
    box-shadow: -0.4em -0.4em var(--col-s-accent);
    transform: translate(0.4em, 0.4em);
}
.downloadbtn:active .dwnsvg{
    transition: none;
    fill: var(--col-s-accent);
}

.dwnsvg{
    transition: 0.5s;
    width: 2em;
    height: 2em;
    margin-right: 1em;
    fill: var(--col-bg-l);
}

.app{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
}
.left-side,
.left-mid-side,
.main-side{
    background-color: var(--col-bg-d);
}

.left-side{
    min-width: 8.5em;
    margin-right: 0.5em;
    animation: 1s side infinite;
}

.left-mid-side{
    min-width: 16em;
    margin: 0 1em;
    display: block;
    overflow-y: scroll;
    overflow-x: hidden;
    max-width: 16em;
}



::-webkit-scrollbar{
    background-color: var(--col-bg-d);
    width: 0.6em;
}
::-webkit-scrollbar-thumb{
    background-color: var(--col-bg-lld);
}
::-webkit-scrollbar-thumb:hover{
    background-color: var(--col-accent);
}

::-webkit-scrollbar-thumb:active{
    background-color: var(--col-s-accent);
}
.main-side{
    border-radius: 1em;
    width: 100%;
    margin: 1em;
}

.relbtn{
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 1em;
    transition: 0.5s;
    background-color: var(--col-bg-d);
    border-radius: 1em;
    width: 4.5em;
    height: 4.5em;
    margin: 0.5em;
    border: none;
}
.relbtn:hover{
    box-shadow: -0.4em -0.4em var(--col-accent);
    transform: translate(0.4em, 0.4em);
}
.relbtn svg path{fill: var(--col-accent);}

.relbtn:active{
    transition: none;
    box-shadow: -0.4em -0.4em var(--col-s-accent);
    transform: translate(0.4em, 0.4em);
}

.relbtn:active svg path{
    transition: none;
    fill: var(--col-s-accent);
}

.contact{
    border: 0.1ex solid var(--col-bg-lld);
    width: 90%;
    height: 3.2em;
    overflow: hidden;
    border-radius: 1em;
    margin: 1em auto;
    background-color: var(--col-bg-d);
    transition: 0.5s;
    display: flex;
    align-content: center;
    position: relative;
}

.contact:hover{
    transition: 0.5s;
    background-color: var(--col-bg-lld);
    border: 0.1ex solid var(--col-accent);
}

.contact:hover .cont-username{
    transition: 0.5s;
    color: var(--col-accent);
}

.contact:active{
    transition: none;
    border: 0.1ex solid var(--col-s-accent);
}

.contact:active .cont-username{
    transition: none;
    color: var(--col-s-accent);
}


.cont-avatar{
    width: 2.5em;
    height: 2.5em;
    margin: 0.25em;
    border-radius: 1em;
}

.cont-username{
    color: var(--col-bg-l);
    font-size: 1.9rem;
    margin-left: 0.25em;
    margin-top: 0.15em;
    transition: 0.5s;
}

.contact::after{
    position: absolute;
    content: "";
    right: 0.4em;
    top: 0.4em;
    width: 1em;
    height: 1em;
    opacity: 0.7;
    background-color: red;
    border-radius: 1em;
}


.main-side{
    display: flex;
    position: relative;
    overflow:hidden;
}

.top-bar, .bottom-bar{
    position: absolute;
    left: 0;
    height: 4em;
    background-color: var(--col-bg-lld);
}

.top-bar{
    width: 100%;
    height: 3em;
    border-bottom: 1px solid black;
    position: absolute;
    top: 0;
    left: 0;
}

.bottom-bar{
    width: 100%;
    height: 4em;
    border-top: 1px solid black;
    position: absolute;
    bottom: 0;
    left: 0;
}

.chat-inp{
    padding: 0 0 0 0.5em;
    border-radius: 1em;
    line-height: 50%;
    font-size: 1.6em;
    width: 96%;
    display: flex;
    outline: none;
    margin: 0.5em auto;
    box-sizing: border-box;
    border: 1px solid black;
}
.chat-inp:hover{
    border: 1px solid var(--col-accent);
}


.chat-inp:focus{
    border: 1px solid var(--col-s-accent);
}
.fullscreen{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.login-form{
    display: grid;
    border-radius: 1em;
    position: relative;
    justify-content: center;
    background-color: var(--col-bg-d);
    width: 20em;
    height: 25em;
    margin: 1em;
    overflow: hidden;
    z-index: 0;
}
.google{
    border-bottom-right-radius: 1em;
    border: 0.1ex solid var(--col-accent);
    background-color: var(--col-bg-ld);
    width: 3em;
    height: 3em;
    position: absolute;
    left: 0;
    top: 0;
}

.google::after{
    background-color: var(--col-bg-ld);
    height: 2.8em;
    width: 8em;
    opacity: 0;
    transition: 0.5s;
    border: 0.1ex solid var(--col-accent);
    z-index: -5;
    top: 0;
    left: 0;
    position: absolute;
    content: "";
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
}
.google:hover::after{
    opacity: 0.8;
    transform: translateX(2.2em);
}

.l::after{
    content: "Login with google";
}
.r::after{
    content: "Register with google";
}
.google:hover{
    background-color: var(--col-bg-lld);
}
.google:active{
    border: 0.1ex solid var(--col-s-accent);
}
.login-form h1{
    color: var(--col-accent);
    width: 100%;
    text-align: center;
    font-size: 3em;
    margin-bottom: 0;
}
.login-form input{
    background-color: var(--col-bg-ld);
    border: 0.1ex solid var(--col-bg-l);
    color: var(--col-bg-l);
    padding: 0 0.5em;
    font-family: 'Readex Pro', monospace;
    font-size: 1.2em;
    padding: 0.1em;
    margin: 0 1em;
    height: 2em;
    text-align: center;
}
.confirmbtn{
    max-width: 10em;
    width: 10em;
    height: 3em;
    margin: 0 auto;
    font-family: 'Readex Pro', monospace;
    border-radius: 1em;
    background-color: var(--col-bg-d);
    border: none;
    transition: 0.5s;
    display: flex;
    font-size: 1.4em;
    align-items: center;
    justify-content: center;
}
.confirmbtn:hover{
    transition: 0.5s;
    box-shadow: -0.4em -0.4em var(--col-accent);
    transform: translate(0.4em, 0.4em);
}

.confirmbtn:active{
    transition: none;
    box-shadow: -0.4em -0.4em var(--col-s-accent);
    transform: translate(0.4em, 0.4em);
    color: var(--col-s-accent);
}

.login-form input:hover{
    border-color: var(--col-accent);
}

.login-form input:focus{
    outline: none;
    border-color: var(--col-s-accent);
}

.acc{
    width: 50em;
    height: 30em;
    background-color: var(--col-bg-d);
    border-radius: 1em;
    display: flex;
    padding: 1em;
}

.profile{
    width: 50%;
    height: 100%;
    background-color: var(--col-bg-ld);
    border-radius: 1em;
    border: 0.1ex solid var(--col-bg-l);
    display: grid;
}

.settings{
    width: 50%;
    height: 100%;
}

.displ{
    align-items: center;
    display: flex;
    height: 10em;
}   
.displ div input,
.displ div a{
    display: block;
    font-size: 1em;
    margin: 0.5em;
    color: var(--col-accent);
}

.avatar{
    width: 6em;
    height: 6em;
    border-radius: 1em;
    margin: 1em;
    border: 0.1ex solid var(--col-accent);
}

.username{
    border: none;
    outline: none;
    background-color: var(--col-bg-ld);
    padding: 0;
}

.uid{
    color: var(--col-accent);
    opacity: 0.7;
}

.btns{
    display: flex;
    height: 2em;
    padding: 0 0.5em;
}

.btn{
    margin: 0;
    display: flex;
    min-width: 4em;
    align-items: center;
    height: 2em;
    padding: 0.8em;
    margin-right: 2em;
    background-color: var(--col-bg-ld);
    border: 0;
    border-radius: 1em;
}
.animate-btn{
    transition: 0.5s;
}
.animate-btn *{
    transition: 0.5s;
}
.animate-btn:hover{
    transition: 0.5s;
    box-shadow: -0.4em -0.4em var(--col-accent);
    transform: translate(0.4em, 0.4em);
    color: var(--col-accent);
}
.animate-btn:hover *{
    transition: 0.5s;
    color: var(--col-accent);
}
.animate-btn:active *{
    transition: none;
    color: var(--col-s-accent);
}
.animate-btn:active{
    transition: none;
    box-shadow: -0.4em -0.4em var(--col-s-accent);
    transform: translate(0.4em, 0.4em);
    color: var(--col-s-accent);
}