body{
    background-color: rgb(30,30,30);
    font-family: system-ui;
    font-size: 24px;
    margin: 0;
    padding: 2rem;
    color: white;
}
h1{
    margin: 0;
}
p{
    font-size: 1.1rem;
}
button{
    color: white;
    width: 6rem;
    height: 2rem;
    font-size: 1.2rem;
    background-color: rgb(29, 165, 165);
    border: none;
    display: grid;
    place-items: center;
    border-radius: .4rem;
    transition: 300ms;
    outline: none;
}

button:hover{
    --offset: 0.2rem;
    transform: translate(var(--offset),var(--offset));
    box-shadow: calc(0rem - var(--offset)) calc(0rem - var(--offset)) #ffffff;
}

a{
    position: fixed;
    bottom: 2rem;
    left: 2rem;
    color: white;
    font-size: 1.2rem;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}

img{
    height: 25rem;
    margin: 1rem 0 1rem 0;
}

div{
    margin: 1rem 0 1rem 0;
    display: flex;
    width: 12rem;
    border-radius: 2rem;
}

div > button{
    width: 4rem;
    height: 4rem;
    border-radius: 0;
    background-color: rgb(18, 18, 10);
    font-size: 0.9rem;
    text-align: center;
}

div > button:hover{
    color: black;
    box-shadow: none;
    background-color: white;
    transform: translate(0, -5%);
}

.selected{
    z-index: 1;
    border: 0.1rem solid white;
}